{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<body id="top" data-spy="scroll" data-target="#main-nav">
	<!-- WRAPPER -->
	<div class="wrapper">
        {% include 'navbar.html' %}
		<!-- HEADER -->
		<header class="hero-unit header" id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-6 left">
						<div class="avatar">
							<img src="{% static 'img/kasia.jpg' %}" class="img-responsive" alt="Profile Picture" />
						</div>
					</div>
					<div class="col-md-6 right">
						<h1 class="hide">Katarzyna Mankowska</h1>
						<h2 class="heading">{% trans "Kate Mankowska" %}</h2>
						<p>{% trans "A Greater New York City area Software Engineer and Database Architect" %}</p>
						<a href="#about-me" class="btn btn-default btn-lg">READ MORE</a>
					</div>
				</div>
			</div>
		</header>
		<!-- END HEADER -->

		<!-- ABOUT ME -->
		<section class="section about-me" id="about-me">
			<div class="container">
				<h2 class="heading">ABOUT ME</h2>
				<p>{% trans "Hey! My name is Katarzyna (Kate for short, but extra credit if you can pronounce my full name) and I'm a Programmer/Database Architect based in the NYC area. Originally from Warsaw, Poland, I now call New Jersey home, both professionally and personally." %}</p>
				<p>{% trans "My primary focus is database architecture, but I also have significant experience in Web Development (currently using Python and previously having used PHP), bash scripting, and system analysis. I'm always looking for experiences and opportunities that enhance my development skills and teach me newer and more efficient ways to accomplish tasks." %}</p>
				<div class="row interest">
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="glyphicon glyphicon-headphones"></span> {% trans "Music" %}</h3>
						<p>{% trans "Having studied music theory in University, I enjoy listening to and playing classical music. A trained organist, I now dabble on the piano here and there." %}</p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="glyphicon glyphicon-tree-conifer"></span> {% trans "Outdoors" %}</h3>
						<p>{% trans "I spend most of my weekends outdoors: biking on a (please don't judge me) tandem bike with my husband, kayaking, hiking the towering peaks of New Jersey etc etc." %}</p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span> {% trans "Traveling" %}</h3>
						<p>{% trans "I'm constantly on the move. Having grown up in Europe, I've visited dozens of countries and plan on touring many more in the near future. (See all the countries I've been to here):" %}<a href="#"><span class="glyphicon glyphicon-plane"></span></a></p>
					</div>
					<div class="col-md-3">
						<h3 class="sub-heading"><span class="glyphicon glyphicon-book"></span> {% trans "Learning" %}</h3>
						<p>{% trans "Enjoy learning SQL theory, debugging legacy database code, and contriving new and improved ways to query data." %}</p>
					</div>
				</div>
				<div class="social">
					<h3 class="sub-heading">{% trans "Follow me on:" %}</h3>
					<ul class="social-icons">
						<li><a href="https://plus.google.com/104218222719186471009"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- END ABOUT ME -->

		<!-- SKILLS -->
		<section class="section skills" id="skills">
			<div class="container">
				<h2 class="heading sr-only">SKILLS</h2>
				<div class="row">
					<div class="col-md-4">
						<div class="skill-chart">
							<div class="pie-chart" id="chart1" data-percent="90">
								<span class="percent">90%</span>
							</div>
							<span class="chart-title">SQL</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="skill-chart">
							<div class="pie-chart" id="chart2" data-percent="85">
								<span class="percent">85%</span>
							</div>
							<span class="chart-title">Bash</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="skill-chart">
							<div class="pie-chart" id="chart3" data-percent="50">
								<span class="percent">50%</span>
							</div>
							<span class="chart-title">Python</span>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 20px">
					<div class="col-md-4">
						<div class="skill-chart">
							<div class="pie-chart" id="chart1" data-percent="50">
								<span class="percent">50%</span>
							</div>
							<span class="chart-title">Javascript</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="skill-chart">
							<div class="pie-chart" id="chart2" data-percent="50">
								<span class="percent">50%</span>
							</div>
							<span class="chart-title">PHP</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="skill-chart">
							<div class="pie-chart" id="chart3" data-percent="80">
								<span class="percent">80%</span>
							</div>
							<span class="chart-title">MSSQL and MySQL</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SKILLS -->

		<!-- RESUME -->
		<section class="section resume" id="resume">
			<div class="container">
				<h2 class="heading">{% trans "RESUME" %} </h2>
                <h2 class="heading"><a href="/resume/" class="btn btn-default btn-lg">View PDF</a></h2>
				<ul class="timeline">
                    <li class="year">Present</li>
                    <li class="event">
						<h3 class="heading">Senior Developer</h3>
						<span class="month"><i class="fa fa-calendar"></i>October 2007 - current</span>
						<p> Serve as a senior developer in the Turtle and Hughes engineering department. Have led and supported a wide array of projects, including new website creation, database system transition, and Android application development. </p>
					</li>
					<li class="year">2007</li>
					<li class="event">
						<h3 class="heading">Developer</h3>
						<span class="month"><i class="fa fa-calendar"></i>September 2003 - October 2007</span>
						<p> Designed, developed, and deployed new intranet system using javascript, PHP, and MySql. System has been in use company wide for numerous years</p>
					</li>
                    <li class="year">2003</li>
                    <li class="year">1986</li>
					<li class="event">
						<h3 class="heading">Adam Mickiewicz University</h3>
						<span class="month"><i class="fa fa-calendar"></i>September 1982 - June 1986</span>
						<p>Bachelor of Science</p>
					</li>
				</ul>
			</div>
		</section>
		<!-- END RESUME -->

		<!-- CONTACTS -->
		<section class="section contacts" id="contacts">
			<div class="container">
				<h2 class="heading"><span class="glyphicon glyphicon-user"></span>  CONTACT ME</h2>
{#				<div class="row google-map">#}
{#					<div class="map-canvas"></div>#}
{#				</div>#}
                <div class="col-md-12">
                    <div class="address-lines" style="text-align: center">
                        <p>5 Wolverton Lane</p>
                        <p>Hillsborough, NJ 08844</p>
                        <p><span class="glyphicon glyphicon-phone"></span> (908) 420-7046</p>
                        <p><span class="glyphicon glyphicon-envelope"></span>  kasia.mankowska@gmail.com</p>
                    </div>
                </div>
            </div>
		</section>
		<!-- END CONTACTS -->
	</div>
	<!-- END WRAPPER -->

</body>
{% endblock%}